.logosenac{
    width: 5rem;
    height: 2.5rem;
}
footer{
    width: 100;
    background-color: #20427e;
    height: 23rem;
    margin-top: 10rem;
}
footer .card-left3{
    width: 49%;
    margin-left: 2rem;
}
footer .card-right3{
    width: 49%;
    margin-top: 3rem
}
footer .card-center{
    width: 2%;
    border-left: 2px solid #fff;
}
@media only screen and (max-width: 990px) {
    .borTop{
        border-top: 1px solid #dee2e6 !important;
    }
    .borBottom{
        border-bottom: 1px solid #dee2e6 !important;
    }   
    footer{
        background-color: #005792;
        position: absolute;
        margin-bottom: 1rem;
        width: 100%;
    }
}