.logosenac{
    width: 5rem;
    height: 2.5rem;
}
.borTop{
    border-top: 1px solid #dee2e6 !important;
}
.borBottom{
    border-bottom: 1px solid #dee2e6 !important;
}   
#toggle-dark-mode,
#toggle-notifications{
    width: 3rem;
    height: 1.5rem;
}



footer{
    background-color: #005792;
    position: absolute;
    top: 230rem;
    width: 100%;
}
@media only screen and (max-width: 990px) {
    .borTop{
        border-top: 1px solid #dee2e6 !important;
    }
    .borBottom{
        border-bottom: 1px solid #dee2e6 !important;
    }   
    footer{
        background-color: #005792;
        position: absolute;
        margin-bottom: 1rem;
        width: 100%;
    }
}